<!DOCTYPE html>
<html lang="en"
  <head>
    <title>Mobile Edge Video Stream RTSP Demo</title>
  </head>
  <body style="background-color: #2B3C4A">
    <img src="static/images/logo2.png" alt="logo" width="300" height="59"/><br><br>
    <a href="/"><button style="width: 100px; height: 25px; background-color: #A5DC4A; font-size: 12pt;">Home</button></a><a href="/demo1"><button style="width: 150px; height: 25px; margin-left: 10px; background-color: #A5DC4A; font-size: 12pt;">Edge Detection</button></a><a href="/demo2"><button style="width: 150px; height: 25px; margin-left: 10px; background-color: #A5DC4A; font-size: 12pt;">Object Detection</button></a><a href="/demo3"><button style="width: 150px; height: 25px; margin-left: 10px; background-color: #A5DC4A; font-size: 12pt;">Advertiser</button></a>   
    <br/><br><br>
    <img src="{{ url_for('video_feed') }}" style="margin-left: 3%" /></body>
</html>
